<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index/css/chongzhi.css">
    <link rel="stylesheet" type="text/css" href="/static/index/layui/css/layui.css"/>
    <title>充值</title>
</head>

<body>
<div class="container">
    <!--    <div class="row">-->
    <!--        <div class="container_logo">-->
    <!--            <div class="play col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
    <!--                <img src="./images/timg.jpg" />-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <form action="" method="post">
        <div class="row">
            <div class="play col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="form-group">
                    <input type="hidden" class="getId" name="id">
                    <h4>充值金额</h4>
                    <div class="number_amount">
                        <label>￥</label>
                        <input type="number" name="amount" value="" id="price">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="quick_amount col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div style="font-size: 12px;color: #f7bf5a;" st>
                    充值
                    {volist name="chongzhi" id="vo"}
                    满{$vo.money}送{$vo.give}元
                    {/volist}
                </div>
                <div style="color: #f11b60;text-align: center;">注意：充值满5000以上请联系客服</div>
            </div>
        </div>
        <div class="row">
            <div class="quick_amount col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='100'>100</p>
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='200'>200</p>
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='500'>500</p>
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='1000'>1000</p>
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='2000'>2000</p>
                <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-item='5000'>5000</p>
            </div>
        </div>
        <div class="row">
            <div class="_submit col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input type="button" value="充值" class="btn btn-primary submit-amount" id="btn">
            </div>
        </div>
    </form>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id='exampleModal'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>输入金额不能超出5000元</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="mask"></div>
</body>
<script src="/static/index/js/jquery-2.1.4.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="/static/index/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;


    });
    $('#btn').click(function () {
        var price = $('#price').val()

        $.ajax({
            type:'post',
            data:{
                money:price,
            },
            dataType:'json',
            url:'http://wx.glcgpt.com/index/pay/payment',
            success: function (res) {
                console.log(res)
                if(res.code == 200){
                    //调用微信JS api 支付
                    function jsApiCall()
                    {
                        WeixinJSBridge.invoke(
                            'getBrandWCPayRequest',JSON.parse(res.data),
                            function(res){
                                if (res.err_msg == "get_brand_wcpay_request:ok") { // 支付成功
                                    $.ajax({
                                        type:'post',
                                        data:{price:price},
                                        dataType:'json',
                                        url:'http://wx.glcgpt.com/index/member/chongzhi',
                                        success: function (res) {
                                            console.log(res)
                                            if(res.code == 400){
                                                alert(res.msg);
                                            }else{
                                                layer.msg(res.msg);
                                                setTimeout(function () {
                                                    history.go(-1);//
                                                },1500)
                                            }
                                        }
                                    })

                                }
                                if(res.err_msg == "get_brand_wcpay_request:fail") { // 支付失败
                                    location.href = 'fail';
                                }
                                if (res.err_msg == "get_brand_wcpay_request:cancel") { // 取消支付
                                    location.href = '/index/member/order';
                                }
                            }
                        );
                    }

                    function callpay()
                    {
                        if (typeof WeixinJSBridge == "undefined"){
                            if( document.addEventListener ){
                                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                            }else if (document.attachEvent){
                                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                            }
                        }else{
                            jsApiCall();
                        }
                    }
                    callpay();
                }
            }
        })
    });

    function recharge(){
        $.ajax({
            type:'post',
            data:{price:price},
            dataType:'json',
            url:'http://wx.glcgpt.com/index/member/chongzhi',
            success: function (res) {
                console.log(res)
                // if(res.code == 400){
                //     alert(res.msg);
                // }
            }
        })
    }
</script>
<script>
    var $amountInput = $('[type="number"]');
    var amount = '';
    var $getId = $('[type="hidden"]');
    var getparse=ParaMeter();
    $getId.val(getparse.id);
    $(".quick_amount p").off("click").on("click", function () {
        amount = $(this).text();
        console.log(amount)
        if (!$(this).hasClass('active')) {
            $(this).addClass('active').siblings().removeClass('active');
            $amountInput.val(amount);
        } else {
            $(this).removeClass('active');
            $amountInput.val('');
        }
    })
    $amountInput.on('input propertychange', function () {
        if ($(this).val() > 5000) {
            $('#exampleModal').modal('show')
        }
        if($(this).val()!==$('.quick_amount p.active').text()){
            $('.quick_amount p').removeClass('active');
        }
    })
    $('#exampleModal').on('hidden.bs.modal', function (e) {
        $amountInput.val(5000);
    })
    function ParaMeter()
    {
        var obj={};
        var arr=location.href.substring(location.href.lastIndexOf('?')+1).split("&");
        for(var i=0;i < arr.length;i++){
            var aa=arr[i].split("=");
            obj[aa[0]]=aa[1];
        }
        return obj;
    }
</script>

</html>